#app {
    font-family: Avenir, Helvetica, Arial, sans-serif, Quicksand;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  #nav {
    list-style: none;
    text-decoration: none;
    
    .link {
      margin: auto 25px;
    }

    #link {
      text-align: center;
    }
  
    a {
      font-weight: bold;
      color: #2c3e50;
  
      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }